@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Open-sans:100,200,300,400,500,600,700');

/* google fonts importation */

html, body {
    font-family: exo, open-sans, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

/* body and column structure */

.navbar {
    background-color: #4f5d75;
}


.my-profile {
    background-color: #bfc0c0;
    color: #2d3142;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    width: 100%;
}

#summary-heading {
    padding: 5px;
}

#summary-heading i {
    padding: 10px;
}

.summary-p {
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
}

#details-heading {
    padding: 5px;
}

#details-heading i {
    padding: 10px;
}

.detail-list {
    font-size: 20px;
    line-height: 20px;
    padding: 5px;

}

#prof-image { 
    border: 2px solid #2d3142;
    height: 200px;
    width: 200px;
    margin-top: 15px;
}