@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Open-sans:100,200,300,400,500,600,700');

/* google fonts importation */

html, body {
    font-family: exo, open-sans, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

/* body and column structure */

.navbar {
    background-color: #4f5d75;
}

.my-profile {
    background-color: #bfc0c0;
    color: #2d3142;
    padding-top: 20px;
    padding-bottom: 20px;
}

#profile-heading {
    font-size: 40px;
    padding: 5px;
}

#profile-heading i {
    padding: 10px;
}

.profile-box {
    border: 2px solid #2d3142;
}

.summary-p {
    font-size: 19px;
    padding: 10px;
}


#details-heading {
    padding: 5px;
}

#details-heading i {
    padding: 10px;
}

.detail-list {
    font-size: 19px;
    line-height: 20px;
}

#prof-image { 
    border: 2px solid #2d3142;
    height: 200px;
    width: 200px;
    margin-top: 15px;
}

.my-history {
    background-color: #2d3142;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.my-history ul {
    padding-inline-start: 10px;
}

.history-headings i {
    padding: 10px;
}

.history-lists {
    list-style-type: none;
}









footer {
    background-color: #4f5d75;
    padding: 25px;
}

footer p {
    color: #fff;
    font-size: 20px;
}

.social-network li {
    display: inline-block;
}

footer ul {
    margin-right: 25px;
}

.social-network i {
    font-size: 180%;
    margin-right: 5px;
}

/*--footer icons hover css input below--*/

.social-network i {
    color: #fff;
}

.social-network i:hover {
    color: #ef8354;
}

.social-network i {
    fill: #fff;
}

.social-network i:hover {
    fill: #ef8354;
}

.download i {
    color: #fff;
}

.download i:hover {
    color: #ef8354;
}

.download i {
    fill: #fff;
}

.download i:hover {
    fill: #ef8354;
}

/* social-network icons hover has been copied and edited from https://www.solodev.com/blog/web-design/how-to-change-icon-colors-and-background-colors-on-hover.stml */