@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Open-sans:100,200,300,400,500,600,700');

/* google fonts importation */

html, body {
    font-family: quicksand, open-sans, sans-serif;
}

/* body and column structure */

.navbar {
    background-color: #4f5d75;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ef8354;
}

.my-profile {
    background-color: #bfc0c0;
    color: #2d3142;
    padding-top: 20px;
    padding-bottom: 20px;
}

#profile-heading {
    padding: 5px;
}

#profile-heading i {
    padding: 10px;
}

.summary-p {
    font-size: 20px;
    padding: 5px;
}

#details-heading {
    padding: 5px;
}

#details-heading i {
    padding: 10px;
}

.detail-list {
    font-size: 18px;
    font-weight: 500;
    line-height: 15px;
}

#prof-image { 
    border: 2px solid #2d3142;
    height: 180px;
    width: 180px;
    margin-top: 15px;
}

.profile-box {
    border: 1px solid #2d3142;
}

.my-history {
    background-color: #2d3142;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#history-title {
    padding-bottom: 10px;
}

#history-title i {
    padding: 10px;
}

.my-history ul {
    padding-inline-start: 10px;
    padding: 5px;
}

.history-headings i {
    padding: 5px;
}

.history-lists {
    list-style-type: none;
}

.history-lists li {
    margin: 10px 0;
    font-size: 16px;
    color: #bfc0c0;
}

.history-boxes {
    outline: 1px solid #bfc0c0;
}

#program-heading {
    padding: 10px;
}

#program-heading i {
    padding: 5px;
}

.progress {
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #ef8354;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 500;
    font-size: 20px;
    padding: 5px;
    color: #2d3142;
}

.progress-type i {
    padding-left: 5px;
}

.my-interests {
    background-color: #bfc0c0;
    color: #2d3142;
    padding-top: 20px;
    padding-bottom: 20px;
}

#interests-title {
    padding: 5px;
}

#interests-title i {
    padding: 5px;
}

.interests-headings {
    text-align: center;
}

.interests-headings i {
    padding: 5px;
}

.interests-list ul {
    font-size: 20px;
    padding-inline-start: 10px;
}

.hobbies-list ul {
    font-size: 20px;
    padding-inline-start: 10px;
}

.my-contact {
    background-color: #2d3142;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-title i {
    padding: 10px;
}

.contact-p {
    padding: 5px;
    font-size: 20px;
}

.center-form {
    margin: 0 auto;
    max-width: 70%;
    font-size: 20px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #2d3142;
    background-color: #bfc0c0;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ef8354;
}

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

footer {
    background-color: #4f5d75;
    padding: 15px;
}

footer p {
    color: #fff;
    font-size: 20px;
}

footer p i {
    padding: 5px;
}

.social-network li {
    display: inline-block;
}

footer ul {
    margin-right: 25px;
}

.social-network i {
    font-size: 180%;
    margin-right: 5px;
}

/*--footer icons hover css input below--*/

.social-network i {
    color: #fff;
}

.social-network i:hover {
    color: #ef8354;
}

.social-network i {
    fill: #fff;
}

.social-network i:hover {
    fill: #ef8354;
}

.download i {
    color: #fff;
}

.download i:hover {
    color: #ef8354;
}

.download i {
    fill: #fff;
}

.download i:hover {
    fill: #ef8354;
}

/* social-network icons hover has been copied and edited from https://www.solodev.com/blog/web-design/how-to-change-icon-colors-and-background-colors-on-hover.stml */